

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --color-blue: #217074;
  --color-green: #37745B;
  --color-light-green: #8B9D77;
  --color-white: #E7EAEF;
  --color-brown: #EDC5AB;
}


* {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: var(--color-white);
  min-height: 100vh;
}