:root {
  --color-dark-green: #1a3524;
  --color-light-green: #9bc1ac;
  --color-green: #4f8466;
  --color-light-blue: #6a9b95;
  --color-light-brown: #bf7e3a;
  --color-white: #ffffff;
}

* {
  font-family: 'Shantell Sans', serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    'BNCE' 0,
    'INFM' 0,
    'SPAC' 0;
  margin: 0;
  padding: 0;
  color: var(--color-white);
  box-sizing: border-box;
}
